/*body{
	background-image: url(http://www.imageurlhost.com/images/99769122318152172363.jpg);
	background-size: fill;
}*/

/*#backgroundImage{
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index:-1;
}

.stretch {
	width: 75%;
	height: 100%;
}*/

body{
	background: url(http://imgur.com/4hg8TVs);
}
#header{
	font-size: 24pt;
	font-family:'Special Elite', cursive;
	color: black;
	text-align: center;

}

#h1{
	font-family:'Special Elite', cursive;
	font-size: 14pt;
	color: black;
	text-align: center;
}
/*
#player1card1{
	height:80px;
	width:50px;
	border:solid black;
	display: inline;
}

#player1card2{
	height:80px;
	width:50px;
	border: solid black;
	display: inline;
}

*/