/*body{
	background-color: green;
}*/

/*
#background {
	background-size:cover;

}*/

#header{
	font-family:'Special Elite', cursive;
	font color: black;
	font-size: 20pt; 
	text-align: center;
}

#player1h1{
	font-family:'Special Elite', cursive;
	font color: black;
	font-size: 12pt; 
	text-align: center;
}

#player2h1{
	font-family:'Special Elite', cursive;
	font color: black;
	font-size: 12pt; 
	text-align: center;
}

#tally{
	font-family:'Special Elite', cursive;
	font-size: 16pt;
	display:inline;
	position: relative;
}

.card-container{
	display: inline-block;
	height:200px;
	width: 125px;
	border: dotted black;
	position: relative;

}
/*.p1card{
	height: 25%;
	width:25%;;
	border: dotted black;
	position:absolute;
}*/
