/*body{
	background-color: green;
}*/

/*
#background {
	background-size:cover;

}*/

#header{
	font-family:'Special Elite', cursive;
	font color: black;
	font-size: 20pt; 
}

#tally{
	font-family:'Special Elite', cursive;
	font-size: 16pt;
	display:inline-block;
	position: relative;
}

.card-container{
	display: inline-block;
	height:300px;
	width: 250px;
	border: dotted black;
	position: static;

/*}
.p1card{
	height: 25%;
	width:25%;;
	border: dotted black;
	position:absolute;
}*/
