/*body{
	background-color: green;
}*/

/*
#background {
	background-size:cover;

}*/
body{
	background-image: url(http://i.imgur.com/CrPppkb.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin-top:15%;
}
#header{
	font-family:'Special Elite', cursive;
	font color: black;
	font-size: 24pt; 
	font-weight:bold;
	text-align: center;
}
#directions{
	font-family:'Special Elite', cursive;
	font color: black;
	font-size: 14pt; 
	text-align: center;
}

#player1h1{
	font-family:'Special Elite', cursive;
	font color: black;
	font-size: 12pt; 
	text-align: center;
}

#player2h1{
	font-family:'Special Elite', cursive;
	font color: black;
	font-size: 12pt; 
	text-align: center;
}

#tally{
	font-family:'Special Elite', cursive;
	font-size: 16pt;
	display:inline;
	position: relative;
}

.card-container{
	display: inline-block;
	height:200px;
	width: 125px;
	border: dotted black;
	position: relative;

}

#p2CardContainer{
	display: float-right;
}
.card{
	font-family:'Special Elite', cursive;
	font-size:10pt;

}
